

img {
  border: 3px solid gray;
}

header {
 text-align:right;
 border-bottom: 15px solid #a0a0a0;
}

a {
  background:#a0a0a0;
  color:black;
  text-decoration:none;
  padding:10px;
  padding-left:30px;
  padding-right:30px;
  border: 1px solid black;
  width:200px; height:35px;
  box-shadow: 1px 1px 1px 1px gray;
}

footer {
  text-align:center;
  border-top: 15px solid #a0a0a0;
}
