html, body{
  margin:0px;
  text-align: center;
  border: 2px solid lightgray;
}

a{
  text-decoration: none;
}

nav li {
  display: inline-block;
  position:relative;
  left: 300px;
  border-radius: 5px;
  background: #B0C4DE;
  width: 11%;
  margin: 0 1% 0 0;
  padding: 11px 0;
  font-weight:bold;
  font-size:13px;
  color:blue;
  box-shadow: 2px 2px 5px slategrey;
  margin-bottom: 5px;
}

section {
  border-top:7px solid lightgray;
  border-bottom:7px solid lightgray;
}

.buttons{
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.box{
  display: flex;
  width: 100px;
  height: 100px;
  background-color: #B0C4DE;
  border: 1px hidden;
  margin: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 5px slategrey;
}

.box a{
  font-weight: 500;
  color: white;
}

footer{
  text-align: center;
  color:slategrey;
  clear:both;
}
